@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('../fonts/TTLakes/TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('../fonts/TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('../fonts/TTLakes/TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
	font-size: 14px;
	font-family: 'TT Lakes';
	font-weight: normal;
	margin: 0; 
    padding: 0; 
    border: 0;
    color: #1B1C21;
    background-color: #F8F8F8;
}

div {
	font-family: 'TT Lakes';
	font-size: 14px;
	line-height: 20px;
}

h1 {
	font-family: 'TT Lakes';
	font-weight: bold;
	font-size: 28px;
}

a {
	font-family: 'TT Lakes';
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #1B1C21;
}

.wrapper {
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    margin: auto;

    min-height: 2000px;
}

.button {
	display: flex;
	align-items: center;

	border: none;
	background-color: #F8F8F8;
	font-family: 'TT Lakes';

	cursor: pointer;
}

/*ico */
.ico {
	display: block;
	min-width: 40px;
	min-height: 40px;
}

.ico-repair {
	background: url("../img/ico/repair.svg") no-repeat;
}

.ico-logo {
	display: block;
	min-width: 97px;
	min-height: 51px;
	background: url("../img/ico/logo.svg") no-repeat;
}

.ico-checkstatus {
	background: url("../img/ico/checkstatus.svg") no-repeat;
}

.ico-burger {
	background: url("../img/ico/burgerburger.svg") no-repeat;
}

.ico-call {
	background: url("../img/ico/call.svg") no-repeat;
}

.ico-chat {
	background: url("../img/ico/chat.svg") no-repeat;
}

.ico-profile {
	background: url("../img/ico/profile.svg") no-repeat;
}

.ico-search {
	background: url("../img/ico/search.svg") no-repeat;	
}

.ico-burger-active {
	background: url("../img/ico/burger-active.svg") no-repeat;	
}


/*mobile-menu* 1.4*/

@keyframes hue-infinity {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}

.mobile-menu__btn:focus,
.mobile-menu__btn:hover {
	animation: hue-infinity 3s linear infinite;
}


.mobile-menu__container {
	max-width: 320px;
	max-height: 1024px;
	box-sizing: border-box;
	padding: 23px 24px 32px 24px;
	background: white;
	box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.mobile-menu__top,
.mobile-menu__middle,
.mobile-menu__bottom {
	display: flex;
}

.mobile-menu__top {
	align-items: center;
}

.mobile-menu__logo {
	margin: 0px 78px 0px 16px;
}

.mobile-menu__middle {
	margin-top: 50px;
	flex-direction: column;
}

.mobile-menu__item {
	margin-bottom: 32px;
}

.mobile-menu__item--active {
	color: #7E7E82;
}

.mobile-menu__item--active::before {
	position: absolute;
	content: "";
	width: 50px;
	height: 50px;
	background: url("../img/highlight.png") no-repeat 0px 0px;
	margin-left: -24px;
	margin-top: -10px;
}

.mobile-menu__bottom {
	flex-direction: column;
}

.mobile-menu__button-group,
.mobile-menu__lang-group {
	display: flex;
	flex-direction: row;
}

.mobile-menu__button-group {
	margin-top: 244px;
}

.mobile-menu__lang:not(:last-child) {
	margin-right: 8px;
}

.mobile-menu__lang--active {
	color: #7E7E82;
}

.mobile-menu__mail {
	margin-top: 16px;
}

.mobile-menu__phone {
	margin: 12px 0px 40px 0px;
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
}

.mobile-menu__button-group > .mobile-menu__btn:not(:last-child) {
	margin-right: 16px;
}
