@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('../fonts/TTLakes/TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('../fonts/TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('../fonts/TTLakes/TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
	font-size: 14px;
	font-family: 'TT Lakes';
	font-weight: normal;
	margin: 0; 
    padding: 0; 
    border: 0;
    color: #1B1C21;
    background-color: #F8F8F8;
}

div {
	font-family: 'TT Lakes';
	font-size: 14px;
	line-height: 20px;
}

h1 {
	font-family: 'TT Lakes';
	font-weight: bold;
	font-size: 28px;
}

a {
	font-family: 'TT Lakes';
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #1B1C21;
}

.button {
	display: flex;
	align-items: center;

	border: none;
	background-color: #F8F8F8;
	font-family: 'TT Lakes';

	
	cursor: pointer;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    margin: auto;
}

.block-bottom-line {
	border-bottom: 1px solid #D9FFF5;
}


/*ico */
.ico {
	display: block;
	min-width: 40px;
	min-height: 40px;
}

.ico-repair {
	background: url("../img/ico/repair.svg") no-repeat;
}

.ico-logo {
	display: block;
	min-width: 97px;
	min-height: 51px;
	background: url("../img/ico/logo.svg") no-repeat;
}

.ico-checkstatus {
	background: url("../img/ico/checkstatus.svg") no-repeat;
}

.ico-burger {
	background: url("../img/ico/burgerburger.svg") no-repeat;
}

.ico-call {
	background: url("../img/ico/call.svg") no-repeat;
}

.ico-chat {
	background: url("../img/ico/chat.svg") no-repeat;
}

.ico-profile {
	background: url("../img/ico/profile.svg") no-repeat;
}

.ico-search {
	background: url("../img/ico/search.svg") no-repeat;	
}

.ico-burger-active {
	background: url("../img/ico/burger-active.svg") no-repeat;	
}

/*header---------------------------------*/
.mobile-upper-menu {
	background-color: white;
}

.mobile-upper-menu__container {
	margin-left: 16px;

	min-height: 88px;
	display: flex;
	align-items: center;
}

.mobile-upper-menu__container > a {
	margin-right: 16px;
}

@media (max-width: 767px) {
	.mobile-upper-menu .mobile-upper-menu__device--tablet {
		display: none;
	}

	.mobile-upper-menu__container::before {
		content: "";
		width: 2px;
		height: 32px;
		background: url("../img/divider.svg") no-repeat;
		position: absolute;
		left: 186px;
	}

	.mobile-upper-menu__container .mobile-upper-menu__logo {
		margin-right: 38px;
	}
}

@media (min-width: 768px) and (max-width: 1119px)  {
	.mobile-upper-menu__call {
		margin-left: auto;
	}

	.mobile-upper-menu__logo,
	.mobile-upper-menu__repair {
		margin-left: 42px;
	}

	.mobile-upper-menu__container::before {
		content: "";
		width: 2px;
		height: 32px;
		background: url("../img/divider.svg") no-repeat;
		position: absolute;
		left: 84px;
	}

	.mobile-upper-menu__container::after {
		content: "";
		width: 2px;
		height: 32px;
		background: url("../img/divider.svg") no-repeat;
		position: absolute;
		right: 140px;
	}
}

@media (min-width: 1120px) {
	.mobile-upper-menu {
		display: none;
	}
}

/*main-block titles---------------------------------*/
.titles__container {
	padding-left: 16px;
	margin-right: 16px;
}

.titles__menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: auto;
	margin-top: 24px;
	padding-left: 2px;
	padding-top: 2px;
}

.titles__title::before {
	position: absolute;
	content: "";
	width: 50px;
	height: 50px;
	background: url("../img/highlight.png") no-repeat 0px 0px;
	margin-left: -16px;
	margin-top: -8px;
}

.titles__item {
	padding: 8px;
	white-space: nowrap;
	font-size: 16px;
	margin-right: 24px;
	margin-bottom: 24px;
}

.titles__item--active {
	outline: 2px solid #B8FFEC;
	border-radius: 6px;
	background-color: white;
}

@media (max-width: 1119px) {
	.titles__device--deck {
		display: none;
	}
}

@media (min-width: 1120px) {
	.titles__menu {
		overflow-x: hidden;
		flex-wrap: wrap;
	}

	
	.titles__container {
		margin-right: 16px;
	}

	.titles__top-part {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-items: center;

	}

	.titles__action-group {
		display: flex;
		margin-left: auto;
	}

	.titles__action {
		display: flex;
		align-items: center;
		margin-right: 60px;
		color: #1B1C21;
	}

	.titles__repair,
	.titles__checkstatus {
		margin-left: 16px;	
	}

}

/*main-block about---------------------------------*/
.about__container { 
	margin: 24px 16px 0px 16px;
}

.about__photo-logo {
	border-radius: 6px;
	margin-left: -16px;
}

.about__photo-logo {
	width: 100%;
	height: auto;
}

.about__info {
	width: auto;
	margin-right: 20px;
	font-size: 1.2em;
}

.read-button {
	font-size: 16px;
	font-weight: bold;
	margin: 16px 0px;
}


.read-button__img {
	margin-right: 16px;
	min-width: 24px;
	min-height: 24px;
	background: url("../img/expand.svg") no-repeat;
}

@media (max-width: 767px) {
	.about__device--tablet,
	.about__device--deck {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1119px)   {
	.about__device--deck {
		display: none;
	}

	.about__container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		
	}
	.about__info {
		margin-right: 48px;
		min-width: 312px;
		flex-basis: 40%;
	}

	.about__photo-logo {
		flex-basis: 45%;
		margin-right: 16px;
		height: 280px;
	}
}

@media (min-width: 1120px) {
	.about__container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.about__info:last-child {
		width: 490px;
	}
	.about__photo-logo {
		width: 531px;
		height: 383px;
	}
}

