@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('../fonts/TTLakes/TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('../fonts/TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('../fonts/TTLakes/TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
	font-size: 14px;
	font-family: 'TT Lakes';
	font-weight: normal;
	margin: 0; 
    padding: 0; 
    border: 0;
    color: #1B1C21;
    background-color: #F8F8F8;
}

div {
	font-family: 'TT Lakes';
	font-size: 14px;
	line-height: 20px;
}

h1 {
	font-family: 'TT Lakes';
	font-weight: bold;
	font-size: 28px;
}

a {
	font-family: 'TT Lakes';
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #7E7E82;
}

.button {
	display: flex;
	align-items: center;

	border: none;
	background-color: #F8F8F8;
	font-family: 'TT Lakes';

	
	cursor: pointer;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    margin: auto;
}

/*ico */
.ico-repair {
	display: block;
	min-width: 40px;
	min-height: 40px;
	background: url("../img/header-ico/repair.svg") no-repeat;
}

.ico-checkstatus {
	display: block;
	min-width: 40px;
	min-height: 40px;
	background: url("../img/header-ico/checkstatus.svg") no-repeat;

}

.block-bottom-line {
	border-bottom: 1px solid #D9FFF5;
}


/*header---------------------------------*/
.header {
	background-color: white;
}

.header__container {
	margin-left: 16px;

	min-height: 88px;
	display: flex;
	align-items: center;
}

.header__container > a {
	margin-right: 16px;
	display: block;
	min-width: 40px;
	min-height: 40px;
}

.header__container .header__logo {
	min-width: 97px;
	min-height: 51px;
	background: url("../img/header-ico/logo.svg") no-repeat;
}

.header__burger {
	background: url("../img/header-ico/burgerburger.svg") no-repeat;
}

.header__logo {
	background: url("../img/header-ico/logo.svg") no-repeat;
}

.header__call {
	background: url("../img/header-ico/call.svg") no-repeat;
}

.header__chat {
	background: url("../img/header-ico/chat.svg") no-repeat;
}

.header__profile {
	background: url("../img/header-ico/profile.svg") no-repeat;
}



@media (max-width: 767px) {
	.header .header__device--tablet {
		display: none;
	}

	.header__container::before {
		content: "";
		width: 2px;
		height: 32px;
		background: url("../img/header-ico/divider.svg") no-repeat;
		position: absolute;
		left: 186px;
	}

	.header__container .header__logo {
		margin-right: 38px;
	}
}

@media (min-width: 768px) and (max-width: 1119px)  {
	.header__call {
		margin-left: auto;
	}

	.header__logo,
	.header__repair {
		margin-left: 42px;
	}

	.header__container::before {
		content: "";
		width: 2px;
		height: 32px;
		background: url("../img/header-ico/divider.svg") no-repeat;
		position: absolute;
		left: 84px;
	}

	.header__container::after {
		content: "";
		width: 2px;
		height: 32px;
		background: url("../img/header-ico/divider.svg") no-repeat;
		position: absolute;
		right: 140px;
	}
}

@media (min-width: 1120px) {
	.header {
		display: none;
	}
}

/*main-block services---------------------------------*/
.services__container {
	padding-left: 16px;
	margin-right: 16px;
	display: flex;
	flex-direction: column;

	background: url("../img/highlight.png") no-repeat 0px 15px;
}

.services__menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: auto;
	margin-top: 24px;
	padding-left: 2px;
	padding-top: 2px;
}

.services__item {
	padding: 8px;
	white-space: nowrap;
	font-size: 16px;
	margin-right: 24px;
	margin-bottom: 24px;
}

.services__item--active {
	outline: 2px solid #B8FFEC;
	border-radius: 6px;
	background-color: white;
}

@media (max-width: 1119px) {
	.services__device--deck {
		display: none;
	}
}

@media (min-width: 1120px) {
	.services__menu {
		overflow-x: hidden;
		flex-wrap: wrap;
	}

	
	.services__container {
		margin-right: 16px;
	}

	.services__top-part {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-items: center;

	}

	.services__href-list {
		display: flex;
		margin-left: auto;
	}

	.services__href {
		display: flex;
		align-items: center;
		margin-right: 60px;
		color: #1B1C21;
	}

	.services__repair,
	.services__checkstatus {
		margin-left: 16px;	
	}

}

/*main-block about---------------------------------*/
.about__container { 
	margin: 24px 16px 0px 16px;
}

.about__photo-logo {
	border-radius: 6px;
	margin-left: -16px;
}

.about__photo-logo {
	width: 100%;
	height: auto;
}

.about__info {
	width: auto;
	margin-right: 20px;
	font-size: 1.1em;
}

.read-button {
	font-size: 16px;
	font-weight: bold;
	margin: 16px 0px;
}


.read-button__img {
	margin-right: 16px;
	min-width: 24px;
	min-height: 24px;
	background: url("../img/expand.svg") no-repeat;
}

@media (max-width: 767px) {
	.about__device--tablet,
	.about__device--deck {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1119px)   {
	.about__device--phone,
	.about__device--deck {
		display: none;
	}

	.about__container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		
	}
	.about__info {
		margin-right: 48px;
		min-width: 312px;
		flex-basis: 40%;
	}

	.about__photo-logo {
		flex-basis: 45%;
		margin-right: 16px;
		height: 280px;
	}
}

@media (min-width: 1120px) {
	.about__device--phone,
	.about__device--tablet {
		display: none;
	}

	.about__container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.about__info {
		margin-right: 36px;
		width: 490px;
	}
	.about__photo-logo {
		width: 531px;
		height: 383px;
	}
}
